<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles/email.css" />
  </head>
  <style>
    body { background: red; height: 300px;}
  </style>
  <body>
    <h1 class="title">{{{title}}} </h1>

    <div class="name">{{{full_name}}}</div>
  </body>
</html>